<h1>Open commits</h1>

<%= render "commits/list" %>

<p id="archive">Or, view the <%= link_to "archive", archive_path %> or <%= link_to "create a new commit", new_user_commit_path(current_user) %>.</p>
