html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
*{outline: 0!important;}
body{color:#fff;font-size:15px;font-family:'Helvetica','Arial',sans-serif;}
select,input,textarea,button{vertical-align:middle;}
button{font-size:17px;font-weight:bold;text-shadow:0 1px 1px #eee;background:#aaa;border:1px solid #222;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;cursor:pointer;white-space:nowrap;padding:10px 20px;-moz-box-shadow:0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(255,255,255,0.7) inset;-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(255,255,255,0.7) inset;box-shadow:0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(255,255,255,0.7) inset;}
button:hover{opacity:.9}
button:active{-moz-box-shadow:0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.7) inset;-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.7) inset;box-shadow:0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.7) inset;opacity:.9}
button::-moz-focus-inner{border:0}
em{text-decoration:italic;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
html{overflow-y:scroll;}
a:hover,a:active{outline:none;}
a,a:active,a:visited{color:#7cc9f5;text-decoration:none;}
a:hover{text-decoration:underline;}
div:after,form:after,ul:after,header:after,nav:after,footer:after{clear:both;content:'';display:block;height:0;visibility:hidden;}
html{background-color:#111;}
header h2{font-size:55px;float:left;line-height:55px;}
header h2 a,header h2 a:active,header h2 a:visited,header h2 a:hover{color:#fff;text-decoration:none;}
#container{width:600px;margin:0 auto;padding:80px 0;position:relative;}
nav{float:right;margin-top:32px;}
nav ul li{list-style:none;float:left;margin-right:30px;color:#666;}
nav ul li:last-child{margin-right:0px;}
#main{margin:80px 0;}
.flash_message{padding:10px;background:#222;position:absolute;top:0px;left:0px;text-align:center;width:100%;}
#main h1{font-size:31px;margin-bottom:40px;}
#archive,#links{margin-top:40px;color:#666;}
.commits li{margin-bottom:40px;list-style:none;position:relative;padding-left:18px;}
.commits li:last-child{margin-bottom:0;}
.commits li:before{position:absolute;z-index:-1;background:#06ef00;width:6px;height:100%;top:0px;left:0px;content:'';border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.commits li.low:before{background:#06ef00;}
.commits li.medium:before{background:#edea1c;}
.commits li.high:before{background:#ed1c38;}
.commits li:after{clear:both;content:'';display:block;height:0;visibility:hidden;}
.commits h3{font-size:17px;margin-bottom:6px;}
.commits .what{float:left;width:80%;}
.commits .who{float:right;width:20%;text-align:right;font-size:14px;}
.commits time{color:#666;margin-left:8px;}
.commits .approval{color:#666;}
.commits .concern,.commits .concern.low{color:#06ef00;}
.commits .concern.medium{color:#edea1c;}
.commits .concern.high{color:#ed1c38;}
footer{text-align:right;color:#666;font-size:13px;}
#message{margin-bottom:40px;}
.avatar{float:left;width:60px;height:60px;}
#avatar_preview{margin-right:20px;float:left;width:60px;font-size:11px;}
#avatar_preview .checkbox label{float:left;font-size:10px;padding-top:0px;}
#avatar_preview .checkbox input{display:none;}
#avatar_preview .checkbox label:hover{text-decoration:underline;}
#avatar_actions{float:left;}
input[type="file"]{font-size:17px;font-weight:bold;white-space:nowrap;padding:10px 20px;color:#fff;}
.checkbox{margin-bottom:20px;}
.bubble{float:right;width:460px;color:#000;font-weight:bold;text-align:justify;position:relative;background:#fff;padding:20px 30px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;box-shadow:4px 2px 0 #444;}
.bubble:before{content:'';position:absolute;top:20px;left:-6px;width:20px;height:20px;background:#fff;z-index:-1;box-shadow:4px 2px 0 #444;-webkit-transform:rotate(45deg);}
.bubble .from{position:absolute;top:0px;left:-300px;}
pre{overflow-x:auto;}
#timestamps{font-size:13px;color:#666;margin:10px 0;}
.input{margin-bottom:20px;}
.input label{color:#999;font-size:19px;line-height:19px;padding-top:11px;float:left;margin-right:10px;}
.input input{width:300px;margin:0 10px 0 0;padding:12px 10px 8px 10px;border:0;font-size:19px;font-weight:bold;float:left;}
#diff{position:relative;padding:10px;background-color:#222;}
#diff_actions{position:absolute;top:10px;right:-80px;list-style-type:none;}
#diff_actions li{padding:10px;background-color:#333;margin-bottom:10px;width:60px;text-align:center;}
#error_explanation{color:#ed1c38;margin-bottom:40px;}
#error_explanation ul{list-style-type:none;}
.field_with_errors{float:left;}
.field_with_errors input{border:3px solid #ed1c38;}